{% extends "admin/change_list.html" %}
{% block content %}

<script>
(function ($) {

    function fix_actions() {
        var container = $('div.actions');

        if (container.find('option').length < 10) {
            container.find('label, button').hide();

            var buttons = $('<div></div>')
                .prependTo(container)
                .css('display', 'inline')
                .addClass('class', 'action-buttons');

            container.find('option:gt(0)').each(function () {
                $('<button>')
                    .appendTo(buttons)
                    .attr('name', this.value)
                    .addClass('button')
                    .text(this.text)
                    .click(function () {
                        container.find('select')
                            .find(':selected').attr('selected', '').end()
                            .find('[value=' + this.name + ']').attr('selected', 'selected');
                        $('#changelist-form button[name="index"]').click();
                    });
            });
        }
    };

    $(function () {
        fix_actions();
    });
})(django.jQuery);

function dismissAddAnotherPopup(win) {
    win.close();
    location.reload(true);
    }

</script>
{% if cs %}


<center>
    <a class="btn btn-warning" href="/admin/businessapp/csallpickup/"><span class="badge">{{csall}}</span>cs all</a>
    <a class="btn btn-warning" href="/admin/businessapp/csapprovedpickup"><span class="badge">{{apcs}}</span>cs approved</a>
    <a class="btn btn-warning" href="/admin/businessapp/csdailypickup/"><span class="badge">{{d}}</span>cs daily</a>

<a class="btn btn-info" href="/admin/businessapp/pendingorder/"><span class="badge">{{p}}</span>Pending orders </a>
<a class="btn btn-info" href="/admin/businessapp/order/">Search orders</a>
<a class="btn btn-error" href="/admin/businessapp/proxyproduct2/"><span class="badge">{{un}}</span>Unmapped Orders</a>
</center>
<br>
<br>



<!-- <div class="col-md-6">Today Customers Orders
<br>
<li># orders: {{count_b2c}}</li>
<li>Total revenue: {{sum_b2c}}</li>
</div> -->
{% elif op %}
<center>
<div class="row">
    <a class="btn btn-warning" href="/admin/businessapp/ffapprovedpickup/"><span class="badge">{{ap}}</span>ff aproved</a>
    <a class="btn btn-warning" href="/admin/businessapp/ffcompletedpickup/"><span class="badge">{{picked}}</span>ff picked up</a>

<a class="btn btn-info" href="/admin/businessapp/order/pendingorder/"><span class="badge">{{p}}</span>Pending orders </a>
<a class="btn btn-info" href="/admin/businessapp/order/?q=&status__exact=PU"><span class="badge">{{pu}}</span>Picked up orders</a>
<a class="btn btn-info" href="/admin/businessapp/order/?q=&status__exact=DI"><span class="badge">{{di}}</span>Dispatched orders</a>
<a class="btn btn-info" href="/admin/businessapp/order/">Search orders</a>
<a class="btn btn-error" href="/admin/businessapp/proxyproduct2/"><span class="badge">{{un}}</span>Unmapped Orders</a>

    <a class="btn btn-warning" href="/admin/businessapp/qcproduct/?status__exact=R">Return</a>
<br>
<br>
</div>
</center>
{%else%}

<center>
Customer support links
    <a class="btn btn-warning" href="/admin/businessapp/csallpickup/"><span class="badge">{{csall}}</span>cs all</a>
    <a class="btn btn-warning" href="/admin/businessapp/csapprovedpickup"><span class="badge">{{apcs}}</span>cs approved</a>
    <a class="btn btn-warning" href="/admin/businessapp/csdailypickup/"><span class="badge">{{d}}</span>cs daily</a>

<a class="btn btn-info" href="/admin/businessapp/pendingorder/"><span class="badge">{{p}}</span>Pending orders </a>
<a class="btn btn-info" href="/admin/businessapp/order/">Search orders</a>
<a class="btn btn-error" href="/admin/businessapp/proxyproduct2/"><span class="badge">{{un}}</span>Unmapped Orders</a>
</center>
<br>
<br>


<center>
Fullfillment executive link
<div class="row">
    <a class="btn btn-warning" href="/admin/businessapp/ffapprovedpickup/"><span class="badge">{{ap}}</span>ff aproved</a>
    <a class="btn btn-warning" href="/admin/businessapp/ffcompletedpickup/"><span class="badge">{{picked}}</span>ff picked up</a>

<a class="btn btn-info" href="/admin/businessapp/pendingorder/"><span class="badge">{{p}}</span>Pending orders </a>
<a class="btn btn-info" href="/admin/businessapp/order/?q=&status__exact=PU"><span class="badge">{{pu}}</span>Picked up orders</a>
<a class="btn btn-info" href="/admin/businessapp/order/?q=&status__exact=DI"><span class="badge">{{di}}</span>Dispatched orders</a>
<a class="btn btn-info" href="/admin/businessapp/order/">Search orders</a>
<a class="btn btn-error" href="/admin/businessapp/proxyproduct2/"><span class="badge">{{un}}</span>Unmapped Orders</a>
    <a class="btn btn-warning" href="/admin/businessapp/qcproduct/?status__exact=R">Return</a>
    <br>
<br>
</div>
</center>


{% endif %}



{{ block.super }}
{% endblock %}