{% extends "admin/change_list.html" %}


{% block content %}


{% if cs %}

<center>
<a class="btn btn-info" href="/admin/businessapp/notapprovedbusiness/"><span class="badge">{{d}}</span> Not Approved</a>
   <a class="btn btn-info" href="/admin/businessapp/approvedbusiness/"><span class="badge">{{ap}}</span>Approved</a>
<a class="btn btn-info" href="/admin/businessapp/cancelledbusiness/"><span class="badge">{{c}}</span>cancelled</a>
<a class="btn btn-info" href="/admin/businessapp/dailybusiness/"><span class="badge">{{d}}</span>daily</a>
</center>
<br>
<br>
{% elif op %}
<center>
<div class="row">
<!--         <div class="col-md-6">Today Customers Orders
        <br>
        <li># orders: {{count_b2c}}</li>
        <li>Total revenue: {{sum_b2c}}</li>
        </div> -->
   <a class="btn btn-info" href="/admin/myapp/approvedorderops/"><span class="badge">{{ap}}</span> Approved Orders <br> Allot Someone</a>
   <a class="btn btn-info" href="/admin/myapp/allotedorder/"><span class="badge">{{a}}</span>On the way to pickup <br> Check if picked up</a>
   <a class="btn btn-info" href="/admin/myapp/pickeduporder/"><span class="badge">{{p}}</span>Picked up <br> Now Dispatch</a>

   <a class="btn btn-info" href="/admin/myapp/dispatchedorder/"><span class="badge">{{c}}</span>Dispatched orders</a>
<br>


<br>
</div>
    </center>
{% elif qc %}

<center>
<div class="row">
   <a class="btn btn-info" href="/admin/myapp/approvedorderops/"><span class="badge">{{o}}</span> Approved Orders <br> Allot Someone</a>
   <a class="btn btn-info" href="/admin/myapp/allotedorder/"><span class="badge">{{a}}</span>On the way to pickup <br> Check if picked up</a>
   <a class="btn btn-info" href="/admin/myapp/pickeduporder/"><span class="badge">{{p}}</span>Picked up <br> Now Dispatch</a>

   <a class="btn btn-info" href="/admin/myapp/dispatchedorder/"><span class="badge">{{c}}</span>Dispatched orders</a>
<br>


<br>
</div>
    </center>

    {% endif %}

    {{ block.super }}
{% endblock %}