{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

<script>
function dismissAddAnotherPopup(win) {
    win.close();
    location.reload(true);
    }



</script>

{% block object-tools-items %}
    <li>
        <a href="{% url opts|admin_urlname:'history' original.pk|admin_urlquote %}" class="historylink">{% trans "History" %}</a>
    </li>
    <li>
        <a class="btn btn-info" href="/print_address/?order_no={{x}}" class="historylink" style="color:black">Print Address</a>
    </li>
    {% if has_absolute_url %}
        <li>
            <a href="{% url 'admin:view_on_site' content_type_id original.pk %}" class="viewsitelink">{% trans "View on site" %}</a>
        </li>
    {% endif %}
{% endblock %}