<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>

<script>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Comparision of barcodes with total orders recieved, last 10 days'
        },
        xAxis: {
            categories:{{ categories|safe }}
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Total orders'
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'percent'
            }
        },
        series: {{ series|safe }}
    });
});
</script>
</head>
<body>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>

<div id="container" style="width:100%; height:400px;"></div>
<table style="width:30%">

<th>Company</th>
<th>Pickupboy</th>

    <th>Total order</th>
<th>with barcode</th>
<th>without barcode</th>
{% for row in data2 %}

<tr>
    <td>{{ row.order__business }}</td>
    <td>{{ row.order__business__pb__name }}</td>
    <td>{{ row.product_total }}</td>
    <td>{{ row.barcode_total }}</td>
    <td>{{ row.without }}</td>
</tr>
{% endfor %}
</table>

</body>