
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<h1>Shipping cost</h1>




{% if products %}


{% for key in products  %}
<u><b>    {{key.order__business}}</b></u>
    <li>{{ key.total_cod_cost }}: cod_cost </li>
    <li>{{ key.total_shipping_cost }}: shipping_cost </li>
    <li>{{ key.total_no }}: no of orders </li>

    <br>
    <br>
{% endfor %}
    
    
{% else %}
    <p>No polls are available.</p>
{% endif %}


<h1>Cod remittance</h1>

  



{% if cod_products %}
   
    {% for key in cod_products %}

   <u><b>  {{key.order__business}}</b></u>
        <li><b>{{ key.remittance }}: remittance amount</b>
         <li><b>{{ key.total_no }}: total_no</b>

         <br>
         <br>
    {% endfor %}
    
{% else %}
    <p>No polls are available.</p>
{% endif %}




