
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<h3>
#if pincode 400 then mumbai else ROI<br>
#all revenue in base rate u have to add ++<br>
#rates are 20,40,8,12<br>
#orders without applied weight not counted orders without method not counted,without pincode not counted<br>
</h3>

<table style="width:100%">
  <tr></tr>

<td><b>Start_Date</b></td>
<td><b>weight[Mum Premium,ROI Premium,Mum Bulk,ROI Bulk]</b></td>
<td><b>Revenue[Mum Premium,ROI Premium,Mum Bulk,ROI Bulk]</b></td>
<td><b>Count[Mum Premium,ROI Premium,Mum Bulk,ROI Bulk]</b></td>

  </tr>
{% for key in results %}
<tr>
{% for x in key %}

<td>{{x}}</td>




{% endfor %}
</tr>
{% endfor %}
