
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<h1>Customers orders for past week without mapped tracking id</h1>

<table style="width:100%">
  <tr>
    <td><b>shipment_link<b></td>
    <td><b>order_link</b></td>      
  </tr>



{% if week_shipments %}
    
    {% for shipment in week_shipments %}
        <tr>
        
        <td>
        <a href="/admin/myapp/shipment/{{ shipment.pk }}/">{{ shipment.order.namemail.name }}  </a>
        </td>

        <td>
        <a href="/admin/myapp/order/{{ shipment.order.pk }}/">{{ shipment.order.book_time }}  </a>
        </td>

        </tr>
            
    {% endfor %}
    
{% else %}
    <p>No polls are available.</p>
{% endif %}

</table>

<h1>Business orders for past week without mapped tracking id</h1>

<table style="width:100%">
  <tr>
    <td><b>product_link<b></td>
    <td><b>order_link</b></td>      
 </tr>



{% if week_products_b2b %}
    
    {% for product in week_products_b2b %}
        <tr>
        
        <td>
        <a href="/admin/businessapp/product/{{ product.pk }}/">{{ product.order.business }}  </a>
        </td>

        <td>
        <a href="/admin/businessapp/order/{{ product.order.pk }}/">{{ product.order.book_time }}</a>
        </td>

        </tr>
            
    {% endfor %}
    
{% else %}
    <p>No polls are available.</p>
{% endif %}

</table>



