
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<div class="row">
        <div class="col-md-6">Today Customers Orders
        <br>
        <li># orders:{{count_b2c}}</li>
        <li>Total revenue:{{sum_b2c}}</li>
        <li>Ticket_size:{{average_b2c}}</li>
        <li>Action _required: {{action_b2c}}</li>

        </div>

        <div class="col-md-6">Today business Orders

        <br>
		<li># orders:{{count_b2b}}</li>
        <li>Total revenue:{{sum_b2b}}</li>
        <li>Ticket_size:{{average_b2b}}</li>
        <li>Action _required: {{action_b2b}}</li>
        </div>
</div>


<h1>Weekly customers orders for past week</h1>

<table style="width:100%">
  <tr>
    <td><b>Date<b></td>
    <td><b># orders</b></td>		
    <td><b>Revenue</b></td>
	<td><b>Ticket_size</b></td>
  </tr>



{% if b2c_stats %}
    
    {% for stat in b2c_stats %}
    	<tr>
        {% for s in stat %}
        	<td>{{ s }}</td>
    	{% endfor %}

    	</tr>
        	
    {% endfor %}
    
{% else %}
    <p>No polls are available.</p>
{% endif %}

</table>

<h1>Weekly business orders for past week</h1>

<table style="width:100%">
  <tr>
    <td><b>Date<b></td>
    <td><b># orders</b></td>        
    <td><b>shipping_cost</b></td>        
    <td><b>cod_cost</b></td>        
    <td><b>return_cost</b></td>        
    <td><b>Revenue</b></td>
  </tr>



{% if product %}
    
    {% for x in product %}
    	<tr>
        <td>{{x.day}}</td>
        <td>{{x.count}}</td>
<td>{{x.shipping_sum}}</td>
<td>{{x.cod_sum}}</td>
<td>{{x.return_sum}}</td>
<td>{{x.cod_sum|add:x.shipping_sum|add:x.return_sum}}</td>
<td>{{x.cod_sum|add:x.shipping_sum|add:x.return_sum}}</td>
    	</tr>
        	
    {% endfor %}
    
{% else %}
    <p>No polls are available.</p>
{% endif %}

</table>



