{% extends "admin/change_list.html" %}


{% block content %}
<script>
(function ($) {

    function fix_actions() {
        var container = $('div.actions');

        if (container.find('option').length < 10) {
            container.find('label, button').hide();

            var buttons = $('<div></div>')
                .prependTo(container)
                .css('display', 'inline')
                .addClass('class', 'action-buttons');

            container.find('option:gt(0)').each(function () {
                $('<button>')
                    .appendTo(buttons)
                    .attr('name', this.value)
                    .addClass('button')
                    .text(this.text)
                    .click(function () {
                        container.find('select')
                            .find(':selected').attr('selected', '').end()
                            .find('[value=' + this.name + ']').attr('selected', 'selected');
                        $('#changelist-form button[name="index"]').click();
                    });
            });
        }
    };

    $(function () {
        fix_actions();
    });
})(django.jQuery);

</script>


{% if cs %}
<center>
<a class="btn btn-info" href="/admin/myapp/receivedorder/"><span class="badge">{{o}}</span> Recieved Orders
<a class="btn btn-info" href="/admin/myapp/approvedordercs/"><span class="badge">{{acs}}</span>Approved Orders</a>
<a class="btn btn-info" href="/admin/myapp/cancelledorder/">cancelled orders</a>
<a class="btn btn-info" href="/admin/myapp/order/">Search orders</a>

</center>
<br>
<br>
{% elif op %}
<center>
<div class="row">

<a class="btn btn-info" href="/admin/myapp/approvedorder/"><span class="badge">{{pa}}</span> Approved Orders </a>
<a class="btn btn-info" href="/admin/myapp/allotedorder/"><span class="badge">{{a}}</span>Alloted</a>
<a class="btn btn-info" href="/admin/myapp/pickeduporder/"><span class="badge">{{p}}</span>Picked up </a>
<a class="btn btn-info" href="/admin/myapp/dispatchedorder/"><span class="badge">{{c}}</span>Dispatched orders</a>
<a class="btn btn-info" ><span class="badge">{{completed}}</span>Completed orders</a>
<a class="btn btn-info" href="/admin/myapp/order/">Search orders</a>


<br>

<br>
</div>
</center>
{% elif qc %}
<center>
<div class="row">
<a class="btn btn-info" href="/admin/myapp/approvedordercs/"><span class="badge">{{o}}</span> Approved Orders <br> Allot Someone</a>
<a class="btn btn-info" href="/admin/myapp/allotedorder/"><span class="badge">{{a}}</span>On the way to pickup <br> Check if picked up</a>
<a class="btn btn-info" href="/admin/myapp/pickeduporder/"><span class="badge">{{p}}</span>Picked up <br> Now Dispatch</a>
<a class="btn btn-info" href="/admin/myapp/dispatchedorder/"><span class="badge">{{c}}</span>Dispatched orders</a>
<br>
<br>
</div>
</center>
{% else %}
<center>


<center>

CS
<a class="btn btn-info" href="/admin/myapp/receivedorder/"><span class="badge">{{o}}</span> Recieved Orders
<a class="btn btn-info" href="/admin/myapp/approvedordercs/"><span class="badge">{{acs}}</span>Approved Orders</a>
<a class="btn btn-info" href="/admin/myapp/cancelledorder/">cancelled orders</a>
<a class="btn btn-info" href="/admin/myapp/order/">Search orders</a>

</center>
<br>
<br>
FF
<center>
<div class="row">

<a class="btn btn-info" href="/admin/myapp/approvedorder/"><span class="badge">{{pa}}</span> Approved Orders </a>
<a class="btn btn-info" href="/admin/myapp/allotedorder/"><span class="badge">{{a}}</span>Alloted</a>
<a class="btn btn-info" href="/admin/myapp/pickeduporder/"><span class="badge">{{p}}</span>Picked up </a>
<a class="btn btn-info" href="/admin/myapp/dispatchedorder/"><span class="badge">{{c}}</span>Dispatched orders</a>
<a class="btn btn-info" href="/admin/myapp/order/">Search orders</a>

<br>
<br>
</div>
</center>

    </center> 

{% endif %} 

{{ block.super }}
{% endblock %}

